.wrap {border: 10px solid red; margin-top: 20px; min-height: 100px; display: flex;}
.wrap > .box {border: 5px solid blue; flex: 1 1; display: flex; justify-content: center; align-items: center;}
.btns {margin: 20px 0;}