.score_in ul {display: flex;}
.score_in li {flex: 1 1 10%; padding: 0.5rem;}
.table > tbody > tr > td:last-child {padding: 4px !important;}
.up_el {padding: 2px !important; text-align: center !important;}
.up_el > .stdname {max-width: 100px !important; display: inline-block !important;}
.up_el > .kor {max-width: 60px !important; display: inline-block !important;}
.up_el > .eng {max-width: 60px !important; display: inline-block !important;}
.up_el > .math {max-width: 60px !important; display: inline-block !important;}